@media (max-width: 1200px) {
.filter {
    width: 300px;
    position: absolute;
    z-index: 99;
    top: 40px;
    left: -300px;
    transition: .3s all;
    .filter-close {
        position: absolute;
        top: 50px;
        right: 15px;
    }
}
.showFilter {
    left: 0;
}
}

@media (max-width: 992px) {
    .images,
    .videos {
        margin: 50px 0;
        &__title {
            font-size: 22px;
        }
        &-card {
            width: 32.75% !important;
            &-info {
                padding: 15px;
                visibility: visible;
    
                &__title {
                    font-size: 14px;
                    line-height: 20px;
                }
    
                &-admin {
                    font-size: 12px;
                    img {
                        width: 28px;
                        height: 28px;
                        margin-right: 5px;
                    }
                }
                &-box {
                    margin-right: 0px;
                    font-size: 12px;
                }
            }
        }
    }

    .posts {
        margin: 50px 0;
        &__title {
            font-size: 22px;
        }
        &-card {
            width: 49%;
            &-head {
                padding: 15px;
                font-size: 12px;
            }
            &-body {
                padding: 15px;
                &__img {
                    object-position: top;
                }
                &__link {
                    font-size: 16px;
                    line-height: 22px;
                }
                .hashtag {
                    font-size: 12px;
                    padding: 5px 7px;
                }
            }
            &-footer {
                padding: 15px;
                &__text {
                    font-size: 14px;
                    line-height: 20px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    // start header
.header {
    &__logo {
        margin-right: 25px;
        img {
            width: 100px;
        }
    }
    &-search {
        width: 250px;
        height: 40px;
        .search__btn {
            top: 8px;
            left: 8px;
        }
        &__inp {
            padding: 0 15px 0 38px;
        }
    }
    &-lang {
        position: relative;
        margin-right: 24px;
        .avtive-lang {
            width: 36px;
            height: 36px;
            border-radius: 8px;
            img {
                width: 24px;
            } 
        }
        &-item {
            width: 36px;
            img {
                width: 24px;
            }
        }
    }
    &-links {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            // height: 2px;
        }
    }
    &-link {
        margin-right: 20px;
    }
}

.images,
.videos {
    margin: 50px 0;
    &__title {
        font-size: 22px;
    }
    &-card {
        width: 49.5% !important;
    }
}
.aiImages-body {
    .aiImages {
        &-search {
            height: 45px;
            border-radius: 4px;
            &__inp {
                width: 100%;
                height: 100%;
                background: #131436;
                padding: 0 70px 0 50px;
                border: 1px solid #191A30;
                border-radius: 12px;
                font-size: 14px;
                color: #fff;
                &:focus {
                    border: 1px solid #F37A10;
                }
                &::placeholder {
                    color: #77778B;
                }
            }
            .search__icon {
                top: 8px;
                left: 6px;
            }
            .search__btn {
                width: 60px;
                font-size: 14px;
            }
        }
        .total {
            color: #77778B;
            margin-top: 16px;
            margin-bottom: 20px;
            &__num {
                color: #CBCBCB;
            }
        }
    }
    .aiImages-pages {
        width: 100%;
        margin-top: 40px;
        .next-page {
            width: 100px;
            height: 45px;
            font-size: 14px;
        }
        .aiImages-pages__btn {
            width: 35px;
            height: 35px;
        }
        .aiImages-pages__count {
            width: 35px;
            height: 35px;
            margin: 0 4px;
        }
    }
}

}

@media (max-width: 576px) {
    .header {
        &__logo {
            margin-right: 0;
            img {
                width: 150px;
            }
        }
        &-search {
            width: 100%;
            &__inp {
                padding: 0 30px 0 45px;
            }
        }
    }

    .wrapper {
        padding: 40px 0;
        background-position: 60%;
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
        }
        &__btn {
            width: 250px;
            height: 45px;
            font-size: 14px;
            margin-top: 20px;
        }
    }
    // End wrapper

    
.images,
.videos {
    margin: 50px 0;
    &__title {
        font-size: 16px;
        margin-right: 15px;
        line-height: 20px;
    }
    .view-all__link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }
    &-card {
        width: 100% !important;
    }
    .all-img {
        &-info {
            padding: 15px;
        }
        &__sup {
            font-size: 14px;
        }
        &__sub {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.newsletter,
.footer {
    .subscribe {
        height: 45px;
        svg {
            position: absolute;
            left: 8px;
            top: 10px;
        }
        &__inp {
            padding-left: 40px;
            padding-right: 110px;
        }
        &__btn {
            width: 100px;
        }
    }
}

.posts {
    margin: 50px 0;
    &__title {
        font-size: 16px;
        margin-right: 15px;
        line-height: 20px;
    }
    .view-all__link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }
    &-card {
        width: 100%;
        &-head {
            padding: 15px;
            font-size: 12px;
        }
        &-body {
            padding: 15px;
            &__img {
                object-position: top;
            }
            &__link {
                font-size: 16px;
                line-height: 22px;
            }
            .hashtag {
                font-size: 12px;
                padding: 5px 7px;
            }
        }
        &-footer {
            padding: 15px;
            &__text {
                font-size: 14px;
                line-height: 20px;
                height: 40px;
            }
        }
    }
}
}


