@media (max-width: 1200px) {
.filter {
    width: 300px;
    position: absolute;
    z-index: 99;
    top: 40px;
    left: -300px;
    transition: .3s all;
    .filter-close {
        position: absolute;
        top: 50px;
        right: 15px;
    }
}
.showFilter {
    left: 0;
}
.header {
    .header-submit {
        padding: 7px;
        svg {
            margin-right: 0;
        }
    }
}
.profile {
    .change-cover-img {
        bottom: 80%;
        right: 15px;
        padding: 8px 12px;
        font-size: 12px;
    }
}
.profile-body-settings {
    .filter {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
}
.notifications {
    .filter {
        top: 0 !important;
        left: 0 !important;
    }
}
}

@media (max-width: 992px) {
    .images,
    .videos {
        margin: 50px 0;
        &__title {
            font-size: 22px;
        }
        &-card {
            width: 32.75% !important;
            &-info {
                padding: 15px;
                visibility: visible;
    
                &__title {
                    font-size: 14px;
                    line-height: 20px;
                }
    
                &-admin {
                    font-size: 12px;
                    img {
                        width: 28px;
                        height: 28px;
                        margin-right: 5px;
                    }
                }
                &-box {
                    margin-right: 0px;
                    font-size: 12px;
                }
            }
        }
    }

    .posts {
        margin: 50px 0;
        &__title {
            font-size: 22px;
        }
        &-card {
            width: 49%;
            &-head {
                padding: 15px;
                font-size: 12px;
            }
            &-body {
                padding: 15px;
                &__img {
                    object-position: top;
                }
                &__link {
                    font-size: 16px;
                    line-height: 22px;
                }
                .hashtag {
                    font-size: 12px;
                    padding: 5px 7px;
                }
            }
            &-footer {
                padding: 15px;
                &__text {
                    font-size: 14px;
                    line-height: 20px;
                    height: 40px;
                }
            }
        }
    }

    .profile {
        &-body {
            .social,
            .filter-check,
            .change-email,
            .change-pass {
                width: 100%;
                padding-left: 40px;
            }
        }
    }
}

@media (max-width: 768px) {
    // start header
.header {
    &__logo {
        margin-right: 25px;
        img {
            width: 100px;
        }
    }
    &-search {
        width: 250px;
        height: 40px;
        .search__btn {
            top: 8px;
            left: 8px;
        }
        &__inp {
            padding: 0 15px 0 38px;
        }
    }
    &-lang {
        position: relative;
        margin-right: 24px;
        .avtive-lang {
            width: 36px;
            height: 36px;
            border-radius: 8px;
            img {
                width: 24px;
            } 
        }
        &-item {
            width: 36px;
            img {
                width: 24px;
            }
        }
    }
    &-links {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &-link {
        margin-right: 20px;
    }
}

.images,
.videos {
    margin: 50px 0;
    &__title {
        font-size: 22px;
    }
    &-card {
        width: 49.5% !important;
    }
}
.aiImages-body {
    .aiImages {
        &-search {
            height: 45px;
            border-radius: 4px;
            &__inp {
                width: 100%;
                height: 100%;
                background: #131436;
                padding: 0 70px 0 50px;
                border: 1px solid #191A30;
                border-radius: 12px;
                font-size: 14px;
                color: #fff;
                &:focus {
                    border: 1px solid #F37A10;
                }
                &::placeholder {
                    color: #77778B;
                }
            }
            .search__icon {
                top: 8px;
                left: 6px;
            }
            .search__btn {
                width: 60px;
                font-size: 14px;
            }
        }
        .total {
            color: #77778B;
            margin-top: 16px;
            margin-bottom: 20px;
            &__num {
                color: #CBCBCB;
            }
        }
    }
    .aiImages-pages {
        width: 100%;
        margin-top: 40px;
        .next-page {
            width: 100px;
            height: 45px;
            font-size: 14px;
        }
        .aiImages-pages__btn {
            width: 35px;
            height: 35px;
        }
        .aiImages-pages__count {
            width: 35px;
            height: 35px;
            margin: 0 4px;
        }
    }
}

.info-profile {
    .info {
        &-head {
            padding: 20px 10px !important;
        }
        &-body {
            padding: 40px 10px !important;
            text-align: center;
            &__title {
                font-size: 18px;
                line-height: 26px;
                text-align: center;
            }
            &__text {
                font-size: 14px;
                line-height: 20px;
               margin-top: 10px;
            }
            .form {
                .basic-profile-info {
                    width: 100%;
                    padding: 0 !important;
                    margin-top: 32px;
                    }
                }
        }
    }
}

.profile {
    &-body {
        .basic-profile-info,
        .social,
        .filter-check,
        .change-email,
        .change-pass {
            padding-left: 0 !important;
            margin-top: 40px;
        }
        .info-body__title-sub {
            font-size: 16px !important;
        }
    }
    .galery {
        &-item {
            width: 100%;
        }
    }
}

}

@media (max-width: 576px) {
    .header {
        &__logo {
            margin-right: 0;
            img {
                width: 120px;
            }
        }
        &-search {
            width: 100%;
            &__inp {
                padding: 0 30px 0 45px;
            }
        }
    }

    .wrapper {
        padding: 40px 0;
        background-position: 60%;
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
        }
        &__btn {
            width: 250px;
            height: 45px;
            font-size: 14px;
            margin-top: 20px;
        }
    }
    // End wrapper

    
.images,
.videos {
    margin: 50px 0;
    &__title {
        font-size: 16px;
        margin-right: 15px;
        line-height: 20px;
    }
    .view-all__link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }
    &-card {
        width: 100% !important;
    }
    .all-img {
        &-info {
            padding: 15px;
        }
        &__sup {
            font-size: 14px;
        }
        &__sub {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.newsletter,
.footer {
    .subscribe {
        height: 45px;
        svg {
            position: absolute;
            left: 8px;
            top: 10px;
        }
        &__inp {
            padding-left: 40px;
            padding-right: 110px;
        }
        &__btn {
            width: 100px;
        }
    }
}

.posts {
    margin: 50px 0;
    &__title {
        font-size: 16px;
        margin-right: 15px;
        line-height: 20px;
    }
    .view-all__link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }
    &-card {
        width: 100%;
        &-head {
            padding: 15px;
            font-size: 12px;
        }
        &-body {
            padding: 15px;
            &__img {
                object-position: top;
            }
            &__link {
                font-size: 16px;
                line-height: 22px;
            }
            .hashtag {
                font-size: 12px;
                padding: 5px 7px;
            }
        }
        &-footer {
            padding: 15px;
            &__text {
                font-size: 14px;
                line-height: 20px;
                height: 40px;
            }
        }
    }
}

.detalis {
    &-body {
        padding: 10px;
        margin: 30px 0 25px;
        .user__img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
        .user__by {
            font-size: 14px;
            span {
                font-size: 14px;
            }
        }
        .user__name {
            font-size: 20px;
        }
        .tags {
            padding: 24px 0;
            &-list {
                font-size: 14px;
            }
        }
        .more-images {
            &__title {
                font-size: 16px;
                margin-right: 10px;
            }
            &__link {
                font-size: 14px;
            }
            &__img {
                width: 49%;
                margin-top: 10px;
            }
        }
    }
    .comments {

        .post-comment {
            .user__img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }

        .comment-user {
            .user__img {
                width: 36px;
                height: 36px;
                margin-right: 10px;
            }
            .user__name {
                font-size: 14px;
            }
            .comment__text {
                font-size: 16px;
                line-height: 22px;
            }
        }
        .reply-comment {
            padding-left: 30px;
        }
    }
    .download {
        width: 65%;
        height: 45px;
        margin-right: 10px;
    }
    .addLikeBtn {
        padding: 12px 15px;
    }
    &-about {
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .image-details {
        margin-top: 20px;
        font-size: 14px;
    }
}
.logIn {
    &-item {
        width: 100%;
        padding: 60px 25px;
    }
    &__title {
        margin: 40px 0 20px;
    }
}
.confirm {
    &-item {
        &-head {
            padding: 20px 15px;
        }
        &-body {
            &__title {
                font-size: 20px;
            }
            &__text {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.info-profile {
    .info {
        &-head {
            padding: 20px 2px;
            .close {
                width: 52px;
                height: 52px;
                background: #131436;
                border: 1px solid #191A30;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: #51526F;
                }
            }
        }
        &-body {
            padding: 24px 58px 42px 50px;
            background: #080922;
            border-radius: 12px;
            &__title {
                font-size: 26px;
                font-weight: 500;
                color: #fff;
            }
            &__text {
                color: #77778B;
            }
            &__title-sub {
                font-size: 18px;
                color: #CBCBCB;
                margin-bottom: 20px;
            }
            .form {
                .avatar {
                    min-width: 144px;
                    margin-top: 32px;
                    &__text {
                        font-size: 12px;
                        line-height: 16px;
                        color: #77778B;
                        margin-top: 15px;
                        text-align: center;
                    }
                    &-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 144px;
                        height: 144px;
                        border-radius: 50%;
                        border: 2px dashed #77778B;
                        padding: 5px;
                    }
                    .add_avatar {
                        width: 100%;
                        height: 100%;
                        background: #131436;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 14px;
                        color: #CBCBCB;
    
                        .avatar__img,
                        input {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            position: absolute;
                            border-radius: 50%;
                            appearance: none;
                        }
    
                        .avatar__img {
                            display: none;
                            object-fit: cover;
                            object-position: center;
                        }
    
                        input {
                            opacity: 0;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            bottom: 0;
                        }
                        p {
                            margin-top: 5px;
                        }
                    }
                }
                .basic-profile-info {
                    width: 100%;
                    padding-left: 32px;
                    margin-top: 32px;
                    .down {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
                    .date {
                        margin-top: 20px;
                        .form-list {
                            margin-top: 0;
                            &:nth-child(1) {
                                width: 45%;
                            }
                            &:nth-child(2) {
                                width: 24%;
                            }
                            &:nth-child(3) {
                                width: 28%;
                            }
                        }
                    }
                    .professional-summary {
                        margin-top: 32px;
                        &__title {
                            font-size: 18px;
                            color: #CBCBCB;
                        }

                        textarea {
                            width: 100%;
                            height: 118px;
                            resize: none;
                            background: #17183A;
                            border: 1px solid #080922;
                            border-radius: 8px;
                            padding: 16px 14px;
                            font-size: 16px;
                            line-height: 24px;
                            color: #F1F1F1;
                            &::placeholder {
                                color: #77778B;
                            }
                            &:focus,
                            &:valid {
                                border: 1px solid #F37A10;
                            }
                        }
                    }
                    .continue {
                        width: 100%;
                        height: 52px;
                        border-radius: 50px;
                        background: #F37A10;
                        color: #F1F1F1;
                        margin-top: 32px;
                        &:hover {
                            background: #F58B2E;
                        }
                    }
                }
            }
        }
    }
}


// Start
.profile {
    &-head {
        padding-top: 150px;
        .change-cover-img {
            bottom: 90%;
        }

        &-item {
            padding: 15px;

            .avatar {
                &__img {
                    width: 60px;
                    height: 60px;
                }
                .online {
                    right: 5px;
                }
            }
            .admin__name {
                font-size: 20px;
                line-height: 22px;
            }
            .admin__text {
                font-size: 14px;
                margin: 0;
            }
            .admin__link {
                font-size: 14px;
                line-height: 16px;
            }
            &-card {
                width: 100%;
                margin-right: 0;
                margin-top: 10px;
                svg {
                    margin-right: 9px;
                }
                &__title {
                    color: #77778B;
                }
                &__info {
                    color: #F1F1F1;
                }
            }
        }
    }
}
.profile {
    .content {
        &-item {
            .images-card {
                height: 220px;
            }
            .videos-card {
                height: 220px;
            }
        }
    }
}


.home {
    .last-posts {
        .carousel {

            .last-posts-card {
                height: 200px;
            }
        }
    }
    .hashtags {
        margin-top: 50px;
        &__title {
            font-size: 20px;
        }
    }
    .faqs {
        margin-top: 20px;
        &__title {
            font-size: 20px;
            margin-top: 25px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.notifications {
    width: 100%;
    &-head {
        padding: 15px;
    }
    &__title {
        font-size: 20px;
    }
    .last-notification {
        &-list {
            padding: 20px 0;

            .circle {
                width: 8px;
                height: 8px;
            }
            &-info {
                width: 75%;
            }
            &__title {
                font-size: 18px;
                line-height: 24px;
            }
        }
        &-vtl,
        &-pass {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }
    }
}

.new-content {
    .drag-area {
        height: 300px !important;
        &-item {
            img {
                width: 85%;
            }
        }
    }
}
.successful {
    &-body {
        img {
            width: 85%;
        }
    }
}

.create-post {
    &__title {
        font-size: 22px;
    }
    .close-modal {
        width: 40px;
        height: 40px;
    }
    &-content {
        width: 95%;
        max-height: 95vh;
        &-head {
            padding: 8px 10px;
        }
    }
    .body-drag {
        padding: 8px 10px;
    }
    &-body {
        padding-top: 20px;
        .cover-image__text {
            font-size: 14px;
        }
        .drag-area {
            height: 280px;
            &-item {
                &__title {
                    font-size: 16px;
                }
            }
        }
    }
    &-footer {
        padding: 8px 10px;
        margin-top: 30px;
        span {
            margin-right: 15px;
        }
        .next-step {
            width: 100px;
            height: 40px;
        }

    }
}
}


